/* Import Google Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
/* Import Reset CSS */
/* Reset CSS */
/* Remove default margins and paddings */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/* Set default font family and font size */
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}
/* Correct the block display for list elements */
ol,
ul {
  list-style: none;
}
/* Correct the font size and margin on nested lists */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* Remove the padding on inline elements */
a,
span {
  padding: 0;
}
/* Remove the border on images inside links */
a img {
  border: none;
}
/* Reset CSS ends */
/* Import Custom Variables */
/* Root CSS Styles */
:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}
/* Body Styles */
body {
  background-color: rgba(230, 238, 249, 0.5);
}
/* Page Container */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* Tabs */
.tabs {
  display: flex;
  flex-direction: column;
  /* Tabs Items */
  /* Tabs Content Area */
  /* Tabs Content */
  /* Tabs Content Glider */
}
.tabs .tabs_items {
  display: flex;
  position: relative;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 40px;
  max-width: 100%;
}
.tabs * {
  z-index: 2;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.tabs .tab__content-area {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
  margin-top: 38px;
  border-radius: 15px;
  min-height: 330px;
}
.tabs .tabs__content {
  font-size: 17px;
  line-height: 1.5;
}
.tabs .tabs__content:not(.active) {
  display: none;
}
.tabs .tabs__content .tabs__content-title {
  font-size: 1.55rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 15px;
}
.tabs .tabs__content ul {
  padding: 15px 0 0 35px;
}
.tabs .tabs__content ul li {
  list-style: disc;
}
.tabs .glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 5px;
  transition: 0.25s ease-out;
}
/* Tabs Order For Accordians */
.tab__item[data-tab-index='tab-1'] {
  order: 1;
}
.tab__item[data-tab-index='tab-2'] {
  order: 3;
}
.tab__item[data-tab-index='tab-3'] {
  order: 5;
}
.tab__item[data-tab-index='tab-4'] {
  order: 7;
}
.tabs__content.tab-1 {
  order: 2;
}
.tabs__content.tab-2 {
  order: 4;
}
.tabs__content.tab-3 {
  order: 6;
}
.tabs__content.tab-4 {
  order: 8;
}
/* Responsiveness */
@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 991px) {
  .container {
    max-width: 920px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .tabs .tab {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .tabs .tab::before {
    content: '';
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>');
    background-repeat: no-repeat;
    background-size: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 19px;
    right: 12px;
  }
  .tabs .tabs_items {
    flex-wrap: wrap;
    background-color: inherit;
    box-shadow: inherit;
  }
  .tabs .tabs_items .tab__item {
    width: 100%;
  }
  .tabs .tabs_items .tab__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .tabs .tabs_items .tab__item.active label {
    color: #000000 !important;
  }
  .tabs .tabs_items .tab__item.active .tab::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>');
  }
  .tabs .tabs_items .tabs__content {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 18px;
    display: none;
    overflow: hidden;
  }
  .tabs .tabs_items .tabs__content.active {
    display: inline-block;
  }
  .tabs .tab__content-area {
    display: none;
  }
  .tabs .tabs__content .tabs__content-title {
    font-size: 1.25rem;
  }
  .tabs .tabs__content p {
    font-size: 0.925rem;
  }
  .tabs .glider {
    display: none;
  }
}
